html, body {
	min-height: 100%;
}

#focusbox_pageWrap {
	position: fixed;
	width: 100%;
	min-height: 100%;
	z-index: 1;
}

#focusbox_overlay {
	position: absolute;
	min-height: 100%;
	width: 100%;
	z-index: 3;
}

#focusbox_overlayBg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	z-index: 2;
	opacity: 0;
	background: #000;
}

.focusbox {
	margin: 5% auto;
	max-width: 40em;
	padding: 1.5em;
	background: #fff;
	overflow: hidden;
	.close {
		float: right;
		display: block;
		cursor: pointer;
		text-align: center;
		line-height: 1.7em;
		width: 1.9em;
		height: 1.9em;
		border-radius: 1em;
		&:hover {
			background-color: #eee;
		}
		&::before {
			content: 'x';
		}
	}
}
