html, body {
	min-height: 100%;
}

#focusbox_pageWrap {
	position: fixed;
	width: 100%;
	min-height: 100%;
}

#focusbox_overlay {
	position: absolute;
	min-height: 100%;
	width: 100%;
	background-color: #222;
	background-color: rgba(0, 0, 0, .3);
	-webkit-animation: bgFadeIn 2s ease;
	-o-animation: bgFadeIn 2s ease;
	animation: bgFadeIn 2s ease;
}

@keyframe bgFadeIn {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, .3);
	}
}

.focusbox {
	margin: 5% auto;
	max-width: 40em;
	padding: 1.5em;
	background: #fff;
	overflow: hidden;
	transition: height 0.2s;
}

.focusbox .close {
	float: right;
	display: block;
	cursor: pointer;
}
.focusbox .close:hover {
	background-color: #eee;
}
.focusbox .close::before {
	content: 'x';
}